MVCSampleProjectForConsumingWCF/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSampleProject.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSampleProject.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="category" nillable="true" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcategory" nillable="true" type="tns:ArrayOfcategory" />
  <xs:complexType name="category">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="film_category" nillable="true" type="tns:ArrayOffilm_category" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="category" nillable="true" type="tns:category" />
  <xs:complexType name="ArrayOffilm_category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="film_category" nillable="true" type="tns:film_category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffilm_category" nillable="true" type="tns:ArrayOffilm_category" />
  <xs:complexType name="film_category">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" nillable="true" type="tns:category" />
      <xs:element minOccurs="0" name="category_id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="film" nillable="true" type="tns:film" />
      <xs:element minOccurs="0" name="film_id" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="film_category" nillable="true" type="tns:film_category" />
  <xs:complexType name="film">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="film_actor" nillable="true" type="tns:ArrayOffilm_actor" />
      <xs:element minOccurs="0" name="film_category" nillable="true" type="tns:ArrayOffilm_category" />
      <xs:element minOccurs="0" name="film_id" type="xs:int" />
      <xs:element minOccurs="0" name="inventory" nillable="true" type="tns:ArrayOfinventory" />
      <xs:element minOccurs="0" name="language" nillable="true" type="tns:language" />
      <xs:element minOccurs="0" name="language1" nillable="true" type="tns:language" />
      <xs:element minOccurs="0" name="language_id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="original_language_id" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="release_year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rental_duration" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="rental_rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="replacement_cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="special_features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="film" nillable="true" type="tns:film" />
  <xs:complexType name="ArrayOffilm_actor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="film_actor" nillable="true" type="tns:film_actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffilm_actor" nillable="true" type="tns:ArrayOffilm_actor" />
  <xs:complexType name="film_actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="actor" nillable="true" type="tns:actor" />
      <xs:element minOccurs="0" name="actor_id" type="xs:int" />
      <xs:element minOccurs="0" name="film" nillable="true" type="tns:film" />
      <xs:element minOccurs="0" name="film_id" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="film_actor" nillable="true" type="tns:film_actor" />
  <xs:complexType name="actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="actor_id" type="xs:int" />
      <xs:element minOccurs="0" name="film_actor" nillable="true" type="tns:ArrayOffilm_actor" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="actor" nillable="true" type="tns:actor" />
  <xs:complexType name="ArrayOfinventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inventory" nillable="true" type="tns:inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinventory" nillable="true" type="tns:ArrayOfinventory" />
  <xs:complexType name="inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="film" nillable="true" type="tns:film" />
      <xs:element minOccurs="0" name="film_id" type="xs:int" />
      <xs:element minOccurs="0" name="inventory_id" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rental" nillable="true" type="tns:ArrayOfrental" />
      <xs:element minOccurs="0" name="store" nillable="true" type="tns:store" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inventory" nillable="true" type="tns:inventory" />
  <xs:complexType name="ArrayOfrental">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rental" nillable="true" type="tns:rental" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrental" nillable="true" type="tns:ArrayOfrental" />
  <xs:complexType name="rental">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:customer" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="inventory" nillable="true" type="tns:inventory" />
      <xs:element minOccurs="0" name="inventory_id" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment" nillable="true" type="tns:ArrayOfpayment" />
      <xs:element minOccurs="0" name="rental_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rental_id" type="xs:int" />
      <xs:element minOccurs="0" name="return_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="staff" nillable="true" type="tns:staff" />
      <xs:element minOccurs="0" name="staff_id" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rental" nillable="true" type="tns:rental" />
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="create_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment" nillable="true" type="tns:ArrayOfpayment" />
      <xs:element minOccurs="0" name="rental" nillable="true" type="tns:ArrayOfrental" />
      <xs:element minOccurs="0" name="store" nillable="true" type="tns:store" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customer" nillable="true" type="tns:customer" />
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="tns:city" />
      <xs:element minOccurs="0" name="city_id" type="xs:int" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:ArrayOfcustomer" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="staff" nillable="true" type="tns:ArrayOfstaff" />
      <xs:element minOccurs="0" name="store" nillable="true" type="tns:ArrayOfstore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="address" nillable="true" type="tns:address" />
  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:ArrayOfaddress" />
      <xs:element minOccurs="0" name="city1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city_id" type="xs:int" />
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:country" />
      <xs:element minOccurs="0" name="country_id" type="xs:short" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="city" nillable="true" type="tns:city" />
  <xs:complexType name="ArrayOfaddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="address" nillable="true" type="tns:address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaddress" nillable="true" type="tns:ArrayOfaddress" />
  <xs:complexType name="country">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="tns:ArrayOfcity" />
      <xs:element minOccurs="0" name="country1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country_id" type="xs:short" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="country" nillable="true" type="tns:country" />
  <xs:complexType name="ArrayOfcity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="city" nillable="true" type="tns:city" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcity" nillable="true" type="tns:ArrayOfcity" />
  <xs:complexType name="ArrayOfcustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="customer" nillable="true" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcustomer" nillable="true" type="tns:ArrayOfcustomer" />
  <xs:complexType name="ArrayOfstaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="staff" nillable="true" type="tns:staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstaff" nillable="true" type="tns:ArrayOfstaff" />
  <xs:complexType name="staff">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="payment" nillable="true" type="tns:ArrayOfpayment" />
      <xs:element minOccurs="0" name="picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="rental" nillable="true" type="tns:ArrayOfrental" />
      <xs:element minOccurs="0" name="staff_id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="store" nillable="true" type="tns:store" />
      <xs:element minOccurs="0" name="store1" nillable="true" type="tns:ArrayOfstore" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="staff" nillable="true" type="tns:staff" />
  <xs:complexType name="ArrayOfpayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="payment" nillable="true" type="tns:payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpayment" nillable="true" type="tns:ArrayOfpayment" />
  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:customer" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="payment_id" type="xs:int" />
      <xs:element minOccurs="0" name="rental" nillable="true" type="tns:rental" />
      <xs:element minOccurs="0" name="rental_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="staff" nillable="true" type="tns:staff" />
      <xs:element minOccurs="0" name="staff_id" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="payment" nillable="true" type="tns:payment" />
  <xs:complexType name="store">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:ArrayOfcustomer" />
      <xs:element minOccurs="0" name="inventory" nillable="true" type="tns:ArrayOfinventory" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="manager_staff_id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="staff" nillable="true" type="tns:ArrayOfstaff" />
      <xs:element minOccurs="0" name="staff1" nillable="true" type="tns:staff" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="store" nillable="true" type="tns:store" />
  <xs:complexType name="ArrayOfstore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="store" nillable="true" type="tns:store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstore" nillable="true" type="tns:ArrayOfstore" />
  <xs:complexType name="language">
    <xs:sequence>
      <xs:element minOccurs="0" name="film" nillable="true" type="tns:ArrayOffilm" />
      <xs:element minOccurs="0" name="film1" nillable="true" type="tns:ArrayOffilm" />
      <xs:element minOccurs="0" name="language_id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="language" nillable="true" type="tns:language" />
  <xs:complexType name="ArrayOffilm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="film" nillable="true" type="tns:film" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffilm" nillable="true" type="tns:ArrayOffilm" />
</xs:schema>